[submodule "scenario_runner"]
	path = scenario_runner
	url = https://github.com/bradyz/scenario_runner.git
[submodule "carla_project"]
	path = carla_project
	url = https://github.com/laurayuzheng/carla_project.git
[submodule "flow"]
	path = flow
	url = git@github.com:laurayuzheng/flow.git
[submodule "stable-baselines3"]
	path = stable-baselines3
	url = git@github.com:SonSang/stable-baselines3.git
